@import url('reset.css');

body{
	background: #ffffff;
	color: #000000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
}
a{
	color:#fff;
	text-decoration:none;
}
img.mb_bgimage{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	opacity:1;
	z-index:1;
}
.mb_overlay{
	width:100%;
	height:100%;
  opacity: 0.1;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../../assets/img/pattern.png) repeat top left;
	z-index:2;
}
.mb_boxes{
  -webkit-transition: all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition: all 0.5s ease;
  -transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}
.mb_pattern div :hover{
  background: white;
}

.mb_pattern div{
	position:absolute;
	width:3em;
	height:3em;
	background:#000;
	z-index:10;
  -webkit-transition: all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition: all 0.5s ease;
  -transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mb_heading h1{
	position:absolute;
	top: 0.5em;
  border: 0em;
	left:50%;
	font-size: 4em;
	color:#000;
	text-shadow:0px 0px 1px #fff;
  font-family: 'Lobster', cursive;
	z-index:4;
}
.container-fluid div h1{
  position:absolute;
  top: -0.6em;
  border: 0em;
  text-align: center;
  font-size: 3em;
  color:#000;

  text-shadow:0px 0px 1px #fff;
  font-family: 'Lobster', cursive;
  z-index:4;
}
.mb_menu{
	position:absolute;
	top:6em;
	left:0em;
	z-index:11;
}
.mb_Menu_hot {
  background-color:#0D47A1;
}

.mb_Menu_hab {
  background-color: #82B1FF;
}

.mb_Menu_ser {
  background-color: #2979FF;
}

.mb_Menu_con {
  background-color: #448AFF;
}
.mb_menu a{
	margin-bottom:0.1em;
  margin-top: 0em;
	opacity:0.9;
	display:block;
	width:6em;
	height:5em;
	color:#fff;
	line-height:5em;
	text-align:center;
	outline:none;
	-webkit-transition: all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition: all 0.5s ease;
	-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mb_menu a:hover{
	color:#000;
	background-color:#fff;
  padding-left: 0.5em;
}

.mb_menu :hover{
  color:#000;
  background-color:#fff;
  padding-left: 1em;
  width: 8em;
}
.mb_content_wrapper{
	background:transparent url(../../assets/img/white_wall.png) repeat top left;
  opacity: 0.85;
	width:800px;
	height:400px;
	position:absolute;
	top:100px;
	left:150px;
	z-index:4;
	display:none;
}

.mb_content_wrapper:hover{
  opacity: 1;
}
span.mb_close{
	position:absolute;
	top:1em;
	right:1em;
	width:3em;
	height:3em;
	cursor:pointer;
  opacity:0.5;
	background:transparent url(../../assets/img/Close_black.png) no-repeat top left;
}
span.mb_close:hover{
	opacity:1;
}
.mb_content{
	padding:1em;
	/*display:none;*/
}
.mb_content h2{
	font-family:fantasy;
	text-shadow:0em 0em 1em #fff;
	font-size:3em;
	text-align: center;

	/*padding:0em 0em 0em 4em;*/
	margin-bottom:0.5em;
}
.mb_content_inner{
	line-height:2em;
	height:20em;
	outline: none;
}

.mb_content_inner_small{
  height: 2em;
  width: 24em;
  alignment: right;
}

.mb_content_inner_big{
  height: 4em;
  width: 24em;
}

ul.mb_imagelist li{
	float:left;
	margin:1em;
	cursor:pointer;
}
ul.mb_imagelist li img{
	display:block;
	opacity:0.8;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-transition: all 0.5s ease-in-out;
}
ul.mb_imagelist li img:hover{
	opacity:1.0;
}

.light-bg {
  background-color: #fff;
}
.dark-box {
  background: #f3f5f8;
  -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
  -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
}
.light-box {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
  -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  padding: 20px 0;
}
.light-box:hover, .light-box:focus {
  -webkit-box-shadow: 0px 3px 0px 0px #1A4E9F;
  -moz-box-shadow: 0px 3px 0px 0px #1A4E9F;
  box-shadow: 0px 3px 0px 0px #1A4E9F;
}
.box-hover {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.box-hover h3{
  text-align: center;
}

.jspPane {
  padding: 0px;
  top: 0px;
  width: 15em;
}

.box-hover:hover, .box-hover:focus {
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
}

.wrapper {
  height: 250px;
}

.nopadding {
  padding: 0;
}

.slides{
  width: 1200%;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transform: translate3d(-843px, 0px, 0px);
  transform: translate3d(-843px, 0px, 0px);
}
